@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

*:focus {
  outline: none;
}

.container,
.main__container {
  display: block;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.main__container {
  max-width: 860px;
}

header {
  padding: 20px 0;
}

.header__container {
  display: flex;
}

.header__container > *:last-child {
  background-color: white;
  margin-left: auto;
}

/* .card__container {
    
} */

.card__container > * + * {
  margin-top: 20px;
}

.card__item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(88, 150, 139, 1);
  padding: 15px;
  border-radius: 10px;
  color: white;
  /* position: relative; */
}

/* .absolute {
    position: absolute;
    background-color: black;
    padding: 20px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%)
}  */

.card__item > * + * {
  margin-left: 20px;
}

.card__img {
  min-width: 130px;
  max-width: 130px;
}

.card__info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card__info > * + * {
  margin-top: 15px;
}

.card__action {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card__action_schedule {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card__action > * + * {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  border-radius: 10px;
  padding: 6px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, border-color, color;
  /* transition: border-color 0.2s ease-in; */
}

.btn_yellow {
  display: inline-block;
  border-radius: 10px;
  padding: 6px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, border-color, color;
  background-color: rgba(243, 192, 73, 1);
  /* transition: border-color 0.2s ease-in; */
}

.btn_no_padding {
  display: inline-block;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  border: 1px solid transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, border-color, color;
  /* transition: border-color 0.2s ease-in; */
}

.btn.no-padding {
  padding: 0;
}

.btn.yellow {
  background-color: rgba(243, 192, 73, 1);
}

.btn_yellow:hover {
  background-color: rgba(196, 156, 64, 1);
}

.btn_white {
  display: inline-block;
  border-radius: 10px;
  padding: 6px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, border-color, color;
  border: 1px solid white;
  /* transition: border-color 0.2s ease-in; */
}

.btn.white {
  border: 1px solid white;
}

.btn.white:hover {
  background-color: white;
  color: black;
}

.btn_white:hover {
  background-color: white;
  color: black;
}
@media (max-width: 500px) {
  /* Меньше 500 пикселей */
  .card__item {
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .card__item > * + * {
    margin-left: 0;
    margin-top: 15px;
  }
}

.likebutn {
  margin-left: 5px;
}

a {
  color: #fafafa;
}
