*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 120%;
  min-width: 300px;
  position: absolute;
  background-color: #fafafa;
  z-index: 1;
  /* bottom: 100px;
  left: 200px; */
  /* height: 550px; */
  border-radius: 10px;
  border: solid rgba(88, 150, 139, 1) 4px;
}
.container > input {
  color: rgba(88, 150, 139, 1);
  outline: none;
  border: none;
  border-radius: 4px;
  width: 90%;
  margin: 8px 0;
  padding: 12px 20px;
  font-weight: bolder;
  font-size: 20px;
}

.container > input:focus {
  border: 2px solid rgba(88, 150, 139, 1);
}

.button_container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 0px;
}

.button_container > button {
  background-color: rgba(88, 150, 139, 1);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
}

::placeholder {
  color: rgba(88, 150, 139, 0.5);
}
