*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.icon {
  position: absolute;
  right: 10px;
  top: 5px;
}

.container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;



  background-color: #fafafa;

  border-radius: 10px;
  border: solid rgba(88, 150, 139, 1) 4px;
}
.container > input {
  color: rgba(88, 150, 139, 1);
  outline: none;
  border: none;
  border-radius: 4px;
  width: 90%;
  margin: 8px 0;
  padding: 12px 20px;
  font-weight: bolder;
  font-size: 20px;
}

.container > input:focus {
  border: 2px solid rgba(88, 150, 139, 1);
}

.button_container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 0px;
}

.button_container > button {
  background-color: rgba(88, 150, 139, 1);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
}

::placeholder {
  color: rgba(88, 150, 139, 0.5);
}
