.heading {
  text-align: center;
}
.full {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.full-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid blue;
  align-items: center;
  width: 800px;
}
.item-border {
  border: 1px solid grey;
}
A {
  color: black;
  font-weight: bold;
}
A:visited {
  color: white;
}
