*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.schedule {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 10px;

  
}
h1{
  color: aliceblue;
}

.schedule h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  text-align: center;

}

.calendar {
  margin: 0 auto;
  margin-top: 50px;
}

@media (max-width: 500px) {
  .account {
    float: right;
    border: 0px solid #ccc;
    background-color: rgb(88, 150, 139);
    width: 20%;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 14px;
    margin-right: -6px;
  }
}


.account {
  float: right;
  border: 0px solid #ccc;
  background-color: rgb(88, 150, 139);
  width: 20%;
  height: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  border-radius: 14px;
  margin-right: -6px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}


.account > h1 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 8;
  text-align: center;
}
.logout {
  text-align: center;
  /* border: 1px solid transparent; */
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background-color: rgba(243, 192, 73, 1);
  border-radius: 50px;
  width:70px;
 
}
/* .mentorsBtn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  background: transparent;
   display: inline-block; 
  border-radius: 10px;
  padding: 6px 20px;
} */
.mentorsBtn{
  padding: 6px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background-color: rgba(243, 192, 73, 1);
  transition-property: background-color, border-color, color;
  border-radius: 20px;
}

.container{
  display: flex;
}