*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.schedule {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 10px;

  
}

.schedule h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.calendar {
  margin: 0 auto;
}

@media (max-width: 500px) {
  .account {
    float: right;
    border: 0px solid #ccc;
    background-color: rgb(88, 150, 139);
    width: 20%;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 14px;
    margin-right: -6px;
  }
}


.account {
  float: right;
  border: 0px solid #ccc;
  background-color: rgb(88, 150, 139);
  width: 20%;
  height: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  border-radius: 14px;
  margin-right: -6px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}


.account > h1 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 8;
  text-align: center;
}
.logout {
  text-align: center;
}
.mentorsBtn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  background: transparent;
}
