.homePage > a {
  text-decoration: none;
  color: #fafafa;
}
li {
  font-size: 18px;
  list-style-type: none;
}
a:active {
  color: #f3c049;
}
.findBottom:active,
.findBtn:active,
.tag:active {
  color: #f3c049;
}
/* .main {
  height: 100vh;
  min-height: 600px;
} */
.mainHeading {
  font-size: 36px;
  text-align: center;
  color: #3d434b;
  margin-top: 40px;
  font-weight: 500;
  line-height: 1.4;
}
.findBottom {
  margin-top: 46px;
  display: flex;
  justify-content: center;
  width: 180px;
  height: 40px;
  background-color: #58968b;
  color: #fafafa;
  font-size: 18px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.findText {
  line-height: 40px;
}
.subheading {
  text-align: center;
  color: #3d434b;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
}
/* TAGS */
.tagBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
}
.tagBox_second {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 22px;
}
.tag {
  padding: 5px;
  height: 30px;
  background-color: #58968b;
  color: #fafafa;

  font-size: 18px;
  border-radius: 8px;
  font-weight: 300;
}
.toRight:not(:last-child) {
  margin-right: 20px;
}

.second {
  margin-top: 22px;
}

/* PROFILES*/
.profileSection {
  margin-top: 90px;
}
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  clear: both;
  content: '';
  display: table;
}
.col3 {
  width: 290px;
  margin-right: 40px;
  float: left;
  color: #3d434b;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}
.col3:last-child {
  margin-right: 0px;
}
.portfolioTitle {
  font-size: 16px;
  font-weight: 400;
  /* margin-top: 15px; */
}
.moreA {
  color: #3d434b !important;
  text-decoration: underline;
}

/* MOTIVATION  */
.infoSection {
  margin-top: 120px;
  margin-bottom: 50px;
}
.listInfo {
  padding-top: 15px;
  line-height: 2.6;
  font-size: 18px !important;
  font-weight: 400;
  margin-left: 230px;
}
.checklist {
  margin-right: 8px;
}
.findBtn {
  margin-top: 32px;
  width: 140px;
  height: 50px;
  background-color: #58968b;
  color: #fafafa;
  font-size: 20px;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  font-weight: 400;
  margin-left: 210px;
}
.photo {
  background-color: white;
}
