footer {
  background-color: #58968b;
  color: #fafafa;
  padding: 0.5rem;
}
.footerMentors {
  margin-left: 1200px;
}
.footerTitle {
  text-transform: uppercase;
}
.footerA {
  text-decoration: underline;
}
