.header > a {
  text-decoration: none;
  font-weight: 400;
  color: #fafafa;
}

.header > a:active {
  color: #f3c049;
}

.header {
  
  width: 110px;

  background-color: #58968b;
  color: #fafafa;
  font-size: 18px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.logoName {
  text-align: center;
  vertical-align: middle;
  width: 110px;
  height: 40px;
  line-height: 40px;
}
.it {
  padding-bottom: 6px;
  line-height: 24px;
  display: inline-block;
  border: 2px solid #f3c049;
  width: 24px;
  height: 24px;
  /* padding-bottom: 1px; */
}

.anchor {
  position: absolute;
  width: 100px;
  height: 200px;
  top: 500px;
  left: 400px;
  visibility: hidden;
}

.container {
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 50px 80px;
}
